.row {
    display: flex;
    align-items: center;
    color: #999;
    font-size: .9rem;
}
.row:nth-child(even) {
    background-color: #D0E4F7;
}

.col-index {
    padding: 0 .5rem;
    flex: 0 0 2rem;
}

.col-id,
.col-title,
.col-date {
    text-align: center;
}

.col-id {
    flex: 0 0 4rem;
}

.col-title {
    flex: 1 0 20%;
    padding-right: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #506a92;
}

.col-title > p {
    color: #777;
}

.col-poster,
.col-adult {
    flex: 0 0;
    padding: .5rem;
}

.col-adult,
.col-date,
.col-overview {
    font-size: 1rem;
}

.col-date {
    padding: 0 .5rem;
    color: rgb(28, 20, 71);
}

.col-overview {
    padding: .5rem;
    color: #555;
}